<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="nav-item"><a class="nav-link" href="{%url 'home'%}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">درباره ی ما</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'shop'%}">فروشگاه</a></li>
                    <li class="nav-item"><a class="nav-link" href="gallery.html">وبلاگ ها</a></li>
                    <li class="nav-item"><a class="nav-link" href="{%url 'prof'%}">سبد خرید</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    <li class="side-menu">
                        <a href="#">
                            <i class="fa fa-shopping-bag"></i>
                            <span class="badge">{{lenak}}</span>
                            <p>سبد من</p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
        <!-- Start Side Menu -->
        <div class="side">
            <a href="#" class="close-side"><i class="fa fa-times"></i></a>
            <li class="cart-box">
                <ul class="cart-list">
                    {%for i in produc%}
                    <li>
                        <a href="#" class="photo"><img src="{{i.image.url}}" class="cart-thumb" alt="" /></a>
                        <h6><a href="#">{{i.title}}</a></h6>
                        <p><span class="price">{{i.price}} نومان</span></p>
                    </li>
                    {%endfor%}
                </ul>
            </li>
        </div>
        <!-- End Side Menu -->
    </nav>
    <!-- End Navigation -->
</header>